# **Load Dataset**

Nama dataset berada di kolom ref pada tabel output pencarian.

In [1]:
!kaggle datasets list -s "goal leagues"

ref                                                      title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
slehkyi/extended-football-stats-for-european-leagues-xg  Football Data: Expected Goals and Other Metrics    1MB  2020-08-02 17:28:39           5549        145  1.0
vivovinco/nba-player-stats                               2021-2022 NBA Player Stats                        48KB  2022-06-18 07:52:52           5788        116  1.0
sanjeetsinghnaik/most-expensive-footballers-2021         Most Expensive Footballers 2021                   13KB  2021-12-03 20:28:03           1833         46  1.0
shreyanshkhandelwal/goal-dataset-top-5-european-leagues  Goal Dataset - Top 5 European Leagues            174KB  2021-05-23 21:20:09           3666         20  0.5294118
secareanualin/football-events                            Football Events                                   21MB  2017-01-25 01:19:19          25214        616  0.7647059
vivovinco/20222023-nba-player-stats-regular              2022-2023 NBA Player Stats                        27KB  2023-02-13 19:31:39           1640         48  1.0
vivovinco/20212022-football-team-stats                   2021-2022 Football Team Stats                      6KB  2022-05-29 07:48:12           1391         65  1.0
vivovinco/20212022-football-player-stats                 2021-2022 Football Player Stats                  627KB  2022-05-29 12:13:07           3207         95  1.0
yamaerenay/most-popular-soccer-leagues                   Most Popular Soccer Leagues                       30KB  2020-08-01 16:59:30            199          6  1.0
vivovinco/20222023-football-player-stats                 2022-2023 Football Player Stats                  470KB  2023-02-12 17:01:33           1570         54  1.0
chaibapat/fantasy-premier-league                         Fantasy Premier League - 2016/2017               476MB  2017-05-16 18:56:26           1536         32  0.85294116
sanjeetsinghnaik/premier-league-matches-20142020         Premier League Matches 2014-2020                 227KB  2021-12-21 19:08:15            402         22  0.9117647
sanjeetsinghnaik/la-liga-match-data                      La Liga Match Data                               226KB  2022-01-02 18:21:11            422         21  0.9117647
eladsil/football-games-odds                              Football Matches Odds                              5MB  2018-10-15 08:15:14            850         24  0.8235294
andrew1456/202122-nba-season-per-game-stats              2021-22 NBA Season Per Game Stats                 29KB  2022-09-01 15:34:59            115         11  0.9411765
vivovinco/20222023-football-team-stats                   2022-2023 Football Team Stats                      6KB  2023-02-12 15:28:51            457         24  1.0
jashsheth5/indepth-soccer-statistics-xg-xa-and-more      In-depth soccer statistics: xG, xA and more        1MB  2020-09-26 05:36:58            370          9  0.9411765
mcarujo/european-football-season-202223                  European Football Season 2022/23                 719KB  2023-03-22 14:21:13            603         28  0.7647059
tanisha1416/big-5-european-leagues-20212022              Football League Dataset (2021-2022)                6KB  2022-03-26 16:31:21            333          8  0.9411765
thomasjohnmahler/nba-player-season-stats                 NBA Player Season Stats                            1MB  2022-05-16 22:59:23            259         10  0.7058824

## **Mendownload Dataset**

Kita akan mengunduh dataset ```Goal Dataset – Top 5 European Leagues``` , maka
nama dataset adalah shreyanshkhandelwal/goal-dataset-top-5-european-leagues.

In [2]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

goal-dataset-top-5-european-leagues.zip: Skipping, found more recently modified local copy (use --force to force download)

## **Ekstrak Dataset ```.zip``` dengan perintah ```!unzip```**

In [3]:
!unzip goal-dataset-top-5-european-leagues.zip

'unzip' is not recognized as an internal or external command,
operable program or batch file.

# **A. Membaca Dataset dengan ```Pandas```**

Import pandas terlebih dahulu

In [4]:
import pandas as pd
import numpy as np

In [5]:
path = "epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

# **B. Fungsi ```head()``` dan ```tail()```**

Fungsi ```head()``` untuk menampilkan data teratas dari dataset. Sedangkan Fungsi ```tail()``` untuk menampilkan data terbawah dari dataset.

In [6]:
df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,9,3277,Alexandre Lacazette,30,1928,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941

In [7]:
df.tail(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
512,512,9332,Dane Scarlett,1,1,0,0.000000,0,0.0,0,0,0,0,S,Tottenham,0,0.000000,0.000000,0.000000
513,513,9356,Carney Chukwuemeka,2,16,0,0.056044,0,0.0,1,0,0,0,S,Aston Villa,0,0.056044,0.056044,0.000000
514,514,9359,Shola Shoretire,1,1,0,0.000000,0,0.0,0,0,0,0,S,Manchester United,0,0.000000,0.000000,0.000000
515,515,9395,Sidnei Tavares,2,84,0,0.020798,0,0.0,1,0,0,0,M S,Leicester,0,0.020798,0.020798,0.000000
516,516,9406,Nathan Broadhead,1,1,0,0.000000,0,0.0,0,0,0,0,S,Everton,0,0.000000,0.000000,0.000000
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.0,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.0,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.0,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.0,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.0,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

# **C. Understanding Data**

## **1. Fungsi ```dtypes```***

In [8]:
df.dtypes

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

fungsi ```dtypes()``` memungkinkan kita untuk melihat tipe data apa saja yang ada didalam kolom/features dari dataset kita. Data integer berisi angka sedangkan data yang memuat kalimat / huruf adalah tipe data berbentuk object.

## **2. Slicing Data dengan ```iloc```**

In [9]:
df_noid = df.iloc[:,2:]
df_noid

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

dengan perintah ```iloc``` kita dapat mengambil kolom/features data yang akan digunakan. Pada dataset diatas 2 kolom pertama hanyalah ID Numerik yang tidak memiliki makna riil.

## **3. Fungsi ```describe()```**

In [10]:
df_noid.describe()

,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,npg,npxG,xGChain,xGBuildup
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,1.668582,1.821450,5.663368,3.455060
std,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,2.909929,2.931176,5.600249,3.376584
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,0.000000,0.074668,1.191391,0.720353
50%,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,0.500000,0.715585,4.252738,2.656397
75%,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,2.000000,1.945799,8.308002,5.254647
max,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,19.000000,19.130183,28.968234,18.323006

DataFrame method ```describe()``` menampilkan statistik dasar setiap kolom data yang bertipe numerik, mencakup  banyaknya data (count), rerata aritmetik (mean), simpangan baku (std), nilai terkecil (min), kuartil pertama (25%),  kuartil kedua/median (50%), kuartil ketiga (75%), dan nilai terbesar (max).

Gunakan ```describe(include='all')``` jika ingin menampilkan juga statistik  kolom yang bertipe non-numerik, mencakup juga berapa banyak nilai unik dalam  kolom (unique), nilai modus (top), serta frekuensi modus (freq).

In [11]:
df_noid.describe(include="all")

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
count,522,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522,522,522.000000,522.000000,522.000000,522.000000
unique,522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,28,NaN,NaN,NaN,NaN
top,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M S,Everton,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,28,NaN,NaN,NaN,NaN
mean,NaN,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,NaN,NaN,1.668582,1.821450,5.663368,3.455060
std,NaN,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,NaN,NaN,2.909929,2.931176,5.600249,3.376584
min,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,NaN,NaN,0.000000,0.074668,1.191391,0.720353
50%,NaN,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,NaN,NaN,0.500000,0.715585,4.252738,2.656397
75%,NaN,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,NaN,NaN,2.000000,1.945799,8.308002,5.254647
max,NaN,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,NaN,NaN,19.000000,19.130183,28.968234,18.323006

## **4. Fungsi Statistik - ```mean()```**

In [12]:
df_noid.mean()

C:\Users\Gustian Herlambang\AppData\Local\Temp\ipykernel_22484\3397690596.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_noid.mean()

games             19.643678
time            1420.068966
goals              1.862069
xG                 2.000806
assists            1.289272
xA                 1.376029
shots             17.379310
key_passes        12.963602
yellow_cards       2.061303
red_cards          0.091954
npg                1.668582
npxG               1.821450
xGChain            5.663368
xGBuildup          3.455060
dtype: float64

## **5. Fungsi Statistik - ```sum()```**

In [13]:
df_noid.sum()

player_name     Harry KaneMohamed SalahBruno FernandesSon Heun...
games                                                       10254
time                                                       741276
goals                                                         972
xG                                                    1044.420572
assists                                                       673
xA                                                     718.287269
shots                                                        9072
key_passes                                                   6767
yellow_cards                                                 1076
red_cards                                                      48
position        FF M SM SF M SF SF SF SFM SF M SF SF SF SF SF ...
team_title      TottenhamLiverpoolManchester UnitedTottenhamLe...
npg                                                           871
npxG                                                     950.7971
xGChain                                               2956.278233
xGBuildup                                             1803.541131
dtype: object