# **Load Dataset**

Nama dataset berada di kolom ref pada tabel output pencarian.

In [2]:
!kaggle datasets list -s "goal leagues"

ref                                                      title                                             size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  -----------------------------------------------  -----  -------------------  -------------  ---------  ---------------
slehkyi/extended-football-stats-for-european-leagues-xg  Football Data: Expected Goals and Other Metrics    1MB  2020-08-02 17:28:39           5546        145  1.0
vivovinco/nba-player-stats                               2021-2022 NBA Player Stats                        48KB  2022-06-18 07:52:52           5769        116  1.0
sanjeetsinghnaik/most-expensive-footballers-2021         Most Expensive Footballers 2021                   13KB  2021-12-03 20:28:03           1831         46  1.0
shreyanshkhandelwal/goal-dataset-top-5-european-leagues  Goal Dataset - Top 5 European Leagues            174KB  2021-05-23 21:20:09           3662         20  0.5294118
secareanualin/football-events                            Football Events                                   21MB  2017-01-25 01:19:19          25209        616  0.7647059
vivovinco/20222023-nba-player-stats-regular              2022-2023 NBA Player Stats                        27KB  2023-02-13 19:31:39           1626         48  1.0
vivovinco/20212022-football-team-stats                   2021-2022 Football Team Stats                      6KB  2022-05-29 07:48:12           1388         65  1.0
vivovinco/20212022-football-player-stats                 2021-2022 Football Player Stats                  627KB  2022-05-29 12:13:07           3201         95  1.0
yamaerenay/most-popular-soccer-leagues                   Most Popular Soccer Leagues                       30KB  2020-08-01 16:59:30            199          6  1.0
vivovinco/20222023-football-player-stats                 2022-2023 Football Player Stats                  470KB  2023-02-12 17:01:33           1560         54  1.0
chaibapat/fantasy-premier-league                         Fantasy Premier League - 2016/2017               476MB  2017-05-16 18:56:26           1536         32  0.85294116
sanjeetsinghnaik/premier-league-matches-20142020         Premier League Matches 2014-2020                 227KB  2021-12-21 19:08:15            402         22  0.9117647
sanjeetsinghnaik/la-liga-match-data                      La Liga Match Data                               226KB  2022-01-02 18:21:11            420         21  0.9117647
eladsil/football-games-odds                              Football Matches Odds                              5MB  2018-10-15 08:15:14            849         24  0.8235294
andrew1456/202122-nba-season-per-game-stats              2021-22 NBA Season Per Game Stats                 29KB  2022-09-01 15:34:59            115         11  0.9411765
vivovinco/20222023-football-team-stats                   2022-2023 Football Team Stats                      6KB  2023-02-12 15:28:51            454         24  1.0
jashsheth5/indepth-soccer-statistics-xg-xa-and-more      In-depth soccer statistics: xG, xA and more        1MB  2020-09-26 05:36:58            370          9  0.9411765
mcarujo/european-football-season-202223                  European Football Season 2022/23                 719KB  2023-03-22 14:21:13            600         28  0.7647059
tanisha1416/big-5-european-leagues-20212022              Football League Dataset (2021-2022)                6KB  2022-03-26 16:31:21            333          8  0.9411765
thomasjohnmahler/nba-player-season-stats                 NBA Player Season Stats                            1MB  2022-05-16 22:59:23            258         10  0.7058824

## **Mendownload Dataset**

Kita akan mengunduh dataset ```Goal Dataset – Top 5 European Leagues``` , maka
nama dataset adalah shreyanshkhandelwal/goal-dataset-top-5-european-leagues.

In [3]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

Downloading goal-dataset-top-5-european-leagues.zip to C:\Users\Gustian Herlambang\Learn\ai-amikom

  0%|          | 0.00/174k [00:00<?, ?B/s]
100%|##########| 174k/174k [00:00<00:00, 975kB/s]
100%|##########| 174k/174k [00:00<00:00, 975kB/s]

## **Ekstrak Dataset ```.zip``` dengan perintah ```!unzip```**

In [5]:
!unzip goal-dataset-top-5-european-leagues.zip

'unzip' is not recognized as an internal or external command,
operable program or batch file.

# **A. Membaca Dataset dengan ```Pandas```**

Import pandas terlebih dahulu

In [6]:
import pandas as pd
import numpy as np

In [11]:
path = "epl-goalScorer(20-21).csv"
df = pd.read_csv(path)

# **B. Fungsi ```head()``` dan ```tail()```**

Fungsi ```head()``` untuk menampilkan data teratas dari dataset. Sedangkan Fungsi ```tail()``` untuk menampilkan data terbawah dari dataset.

In [12]:
df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,9,3277,Alexandre Lacazette,30,1928,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941

In [13]:
df.tail(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
512,512,9332,Dane Scarlett,1,1,0,0.000000,0,0.0,0,0,0,0,S,Tottenham,0,0.000000,0.000000,0.000000
513,513,9356,Carney Chukwuemeka,2,16,0,0.056044,0,0.0,1,0,0,0,S,Aston Villa,0,0.056044,0.056044,0.000000
514,514,9359,Shola Shoretire,1,1,0,0.000000,0,0.0,0,0,0,0,S,Manchester United,0,0.000000,0.000000,0.000000
515,515,9395,Sidnei Tavares,2,84,0,0.020798,0,0.0,1,0,0,0,M S,Leicester,0,0.020798,0.020798,0.000000
516,516,9406,Nathan Broadhead,1,1,0,0.000000,0,0.0,0,0,0,0,S,Everton,0,0.000000,0.000000,0.000000
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.0,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.0,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.0,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.0,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.0,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000